/* reset defualt css setting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* navbar style  */
.navbar{
  display:flex;
  align-items: center;
  position: relative;
  }
     /* navbar logo style */
.logo {
    margin-top: 5px;
    margin-left: 1em;
}
/* logo image style */
.logo img{
    height: 4em;
    width: 4em;
    border-radius: 48%;
    cursor:pointer;
    margin-left:1em;
    
}
/*  nav menu style */
nav ul{
    display: flex;
    margin-left: 2em;
    list-style-type:  none;
}
/* ment list style */
nav ul li{
    padding: 17px 23px;
}
/* list anchor tag style */
nav ul li a{
    display:block;
    text-decoration: none;
    color:rgb(19, 19, 19);
    cursor: pointer;
    transition: all  1.4s ease-in-out ;
    border-radius: 20px;
    padding: 10px;
}
/* anchor tag hover affect  */
nav ul li a:hover{
    background-color: white;
    color: black;
    
}
/* hero section */
#home{
    display: flex;
    flex-direction: column;
    padding: 13px 201px;
    justify-content: center;
    align-items: center;
    height: 43em;
}

.hero{
    padding-bottom: 14em;
}
.hero .primary{
    font-size: 2.8em;
    padding: 0.5em;
    color: rgb(12, 12, 12);
}
.hero p{
    font-size: 16px;
    padding: 0.3em;
    color: rgb(20, 20, 20);
    text-align: center;
}
.hero .btn{
    border-radius: 18px;
    height: 2.6em;
    width: 7em;
    cursor: pointer;
    margin-top: 2em;
    transition: all 1s ease-in-out;
    border: none;
    margin-left: 14em;
}
#home .btn:hover{
    color:white;
    background-color: black;
}
/* table css */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.contact{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.contact .head{
    font-size: 36px;
    padding: 1em;
}
.form{
    font-size: 1.3em;
    text-align: end;
    padding: 0.2em;
}
.form input{
    height: 3em;
    width: 18em;
    border-radius: 3em;
    border: none;
    background-color: #ebd9d9d4;
}
.form .label{
    position: relative;
    bottom: 5em; 
}

.form textarea{
    width: 18em;
    height: 10em;
    background-color: #ebd9d9d4;
}
.btn1{
    text-align: center;
    width: -1em;
    padding: 2em;
    padding-left: 8em;
}
.btn1 button {
        border: none;
        width: 10em;
        height: 3em;
        border-radius: 2em;
        transition: all 1s ease-in-out;

}
.btn1 button:hover{
    color:white;
    background-color: black;
}
footer .center{
    text-align: center;
    padding: 10px 10px;
    font-weight: bold;
}



